@media (max-width: 425.98px) {

    #product #product-des .product-detail .nice-number button,
    #product #product-des .product-detail input {
        padding: 0;
    }

}

@media (max-width: 484.98px) {

    #product-des .product-table .table td,
    #product-des .product-table .table td {
        padding: .2rem !important;
        border-bottom: none;
    }
}


/*Responsive Breakpoints*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .sub-menu {
        left: 56%;
        height: 200%;
        width: 71%;
    }

    #categoryAria .sub-menu .text-center {
        text-align: left !important;
    }

    #categoryAria .sub-menu ul li {
        margin-left: 15px !important;
    }

    header .input-group {
        width: 100% !important;
    }

    header {
        text-align: center;

    }

    header .navbar-brand {
        padding: 0;
        margin-left: 0;
    }

    header .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    header .navbar {
        margin: 0;
        margin-top: .5rem;
    }


}

@media (max-width: 768.98px) {

    #categoryAria .left-nav {
        text-align: center !important;
        margin-left: 30%;
    }

    #categoryAria .demo {
        margin-left: 0;
    }
    #anotherFooter .col-md-4:first-child p {
        width: auto;
        text-align: center;
        
    }
    .copyright, .copyright .text-right {
        text-align: center!important;
    }
    
}

@media (max-width: 991px) {

    #product #product-des .product-detail .size,
    #product #product-des .product-detail .color {
        font-size: 10px;

    }

}
