/* ====================================
           Header
======================================= */





header ul,
#categoryAria ul,
header hr,
#categoryAria hr {
    margin: 0 !important;
    padding: 0 !important;
}

header li,
#categoryAria li,
footer li,
#anotherFooter li {
    list-style: none;
}


header .input-group {
    width: 100% !important;
    margin-top: 1.9rem;
}

.btn-primary {
    width: 300px;
    background-color: #008ed3 !important;
    border-radius: 2.25rem !important;
    height: 54px;
}

.btn-outline-secondary {
    color: #169a04;
    border-color: #ffffff !important;
}

.btn {
    box-shadow: none;
    margin: auto;
    padding: 0 .5rem !important;
}

.fa-facebook {
    color: #3B5998;
    font-size: 1.5rem;
}

.fa-linkedin {
    color: #007BB6;
    font-size: 1.5rem;
}

.fa-twitter {
    color: #55ACEE;
    font-size: 1.5rem;
}

.fa-google-plus {
    color: #DD4B39;
    font-size: 1.5rem;
}

.btn-secondary {
    background-color: #e6f2fe !important;
    color: #000000 !important;
}



header .custom-select,
header .form-control {
    border: none !important;
    border-radius: 0;

}

.custom-select {
    background: #ffffff url('../img/icons8-triangle-arrow-24.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 10px 10px !important;
}

video {
    width: 100%;

}

.card {
    border: none !important;
}


.store-btn {
    text-align: center;
    margin: auto;

}

.store-btn button:nth-child(1) a {
    text-decoration: none;
    color: white !important;
}

.store-btn button:nth-child(1) {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background: #55ACEE;
    color: white;

}

.store-btn button:nth-child(2) {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;

}



/*
#services , #bestProduct, #bestCategories, #bestManufacturer, #bannerAria, #topSearch {
    
}
*/

#services h3,
#bestProduct h3,
#bestCategories h3,
#bestManufacturer h3 {
    color: #008ed3;
    padding-bottom: 1rem;

}

#bestProduct a,
#bestCategories a,
#bestManufacturer a {
    color: #084177;

}



/*style for header*/
header {
    background-color: #084177;
    border-bottom: 2px solid #a9a9a9;
}

header .navbar-brand {
    padding: 5px;
    margin-left: 20%;
}

header .input-group-append {
    background-color: #ffffff;

}

header .input-group-append #button-addon1 i {
    color: black;
}

header .input-group-append #button-addon1:hover i {
    color: white;
}

header .container-fluid {
    overflow: hidden;
}

.navbar {
    background-color: #084177 !important;
    margin-left: 25%;
    box-shadow: none;
}

.navbar .nav-link {
    color: #ffffff !important;
    font-size: 1.1rem;
    background: transparent !important;
    padding: 0 !important;
}

header .form-control,
header .custom-select {
    border-color: #000000 !important;
}

header .input-group-prepend {
    width: 10%;
}


/* ====================================
           Category Aria
======================================= */

#categoryAria {
    width: 100%;
    background-color: lightgray;
    border-bottom: 2px solid #a9a9a9;

}

/*style for category aria*/
#categoryAria .col-sm-2 #demo {
    position: absolute;
    background-color: #f2f3f7;
    width: 270px;
    border-radius: 15px;
    z-index: 99;
    display: none;
}

#categoryAria .col-sm-2 #demo li a {
    color: #000000;
}

#categoryAria .nav {
    float: right;
}

#categoryAria .nav .nav-link:hover {
    color: #0056b3 !important;
}

.demo {
    color: #000000;
    font-size: 20px;
    margin-left: 18%;
}

#breadcrumb {
    background-color: #e9ecef;
}

/*
#categoryAria .main-row {
    border-bottom: 2px solid #a9a9a9;
}
*/

.sub-menu {
    background-color: #F2F3F7;
    left: 100%;
    height: 100%;
    width: 200%
}

#categoryAria ul li {
    list-style: none;
    border-bottom: 1px dashed #938F98;
    padding-top: 5px;
    padding-bottom: 5px;
}

#categoryAria ul li a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#categoryAria .container .position-div {
    position: relative;
}

#categoryAria .sub-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.sub-menu ul li h6 {
    color: #333333;
    font-size: 14px !important;
    font-weight: 600;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    margin: 0;
}

.sub-menu ul li {
    border: none !important;
    padding: 0 !important;
}

.sub-menu ul li a {
    color: #333333 !important;
    font-size: 13px !important;
    font-weight: 400;
    text-decoration: none;
}

.sub-menu {
    display: none;
}

#categoryAria ul li:hover .sub-menu {
    display: block;
    -webkit-box-shadow: -12px 9px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 9px 10px -3px rgba(0, 0, 0, 0.75)
}

#categoryAria ul li:hover {
    background-color: #ffffff;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);*/
    /*transition: all 150ms ease-out;*/
    width: 275px;
    -webkit-box-shadow: 9px 8px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 8px 10px -3px rgba(0, 0, 0, 0.75)
}

#demo li .ml-5 {
    margin-left: 5% !important;
}

.fa-chevron-right {
    float: right;
}

#categoryAria .nav {
    margin-left: 36%;
}

.demo-text {
    color: #444444;

    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;

}



.nav-link {
    font-size: 19px;
    padding: 0 1rem !important;

}



/*style for banner or carousel aria*/
#mainBanner {
    /* border-bottom: 2px solid #a9a9a9; */
}



/*style for service aria*/
.feature-icon {
    margin-right: .5rem;
    background-color: rgba(208, 220, 236, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: 1.3s;
    transition: 1.3s;
}

/* #services .container{
    background-color: #f8f9fa !important;
} */
.feature-icon:hover {
    border-radius: 100%;
}

.feature-icon i {
    color: #FB752E;
    padding: 1rem;
    font-size: 25px;


}

#services .feature-details a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}

.feature-details p {
    font-size: 12px;
    line-height: 20px;
    color: #888;
}

#services .feature-details a:hover {
    color: #FB752E;
}


/*style for product list and card*/
/* #bestProduct, #bestManufacturer, #bestCategories{
    border-bottom: 2px solid #a9a9a9;
} */



/* ====================================
           Product Image css
======================================= */

#product #xzoom-default {
    width: 50% !important;
    position: absolute;
    left: 25%;
    height: 90%;
}

/*
#product .xzoom-thumbs a{
    display: block;
}
*/

/*
#product .right-thumbs {
    float: right;
    position: relative;
    top: 10px;
}
*/


/* ====================================
           Cart CSS
======================================= */

#product .side-cart {
    background-color: #fafafa;
    color: white;
    font-weight: bold !important;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 2px 14px #ccc;
    box-shadow: 1px 2px 14px #ccc;
    position: relative;
    overflow: hidden;


}


#product .side-cart .cart-top-btn {
    padding: 1rem 0;

}

#product .side-cart div a {
    text-decoration: none;
    color: black;
    -webkit-transition: 1s all;
    transition: 1s all;
    padding: .5rem 1rem;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

#product .side-cart .cart-top-btn div:nth-child(1) a {
    background: -webkit-gradient(linear, left top, left bottom, from(#0079bc), to(#00509d));
}

#product .side-cart .cart-top-btn div:nth-child(2) a {
    background: -webkit-gradient(linear, left top, left bottom, from(#0079bc), to(#00509d));
    padding-left: 2rem;
    padding-right: 2rem;
}

#product .side-cart .cart-top-btn div a {
    background-color: #00509d;
    -webkit-transition: 1s all;
    transition: 1s all;
}

#product .side-cart .cart-btn a {
    background: -webkit-gradient(linear, left top, left bottom, from(#45aad6), to(#2386c0));
}

#product .side-cart .cart-btn:hover a {
    background: #2386c0;
    -webkit-transition: 1s all;
    transition: 1s all;
}




#product .side-cart .cart-btn {
    margin-top: 2rem;
}

#product .side-cart .cart-btn a {
    border-radius: 5px !important;
    border: 1px solid gray;

}



/*
#product .side-cart .cart-bottom {
    background-color: #f6f6f6;
}

#product .side-cart .cart-bottom .col-4 p {
    color: black;
    font-weight: normal;
}

#product .side-cart .cart-bottom .col-4 p span {
    color: green;
    font-weight: bold;
}


#product .side-cart .cart-bottom .col-4 {
    padding-left: 0;
    padding-right: 0;
}

#product .side-cart .cart-bottom .col-4 div {
    padding: 1rem 0;

}
*/


/*
#product .side-cart .img-overlay {
    background-image: url(../img/cart-img.png);
    position: absolute;
    height: 110%;
    width: 100%;
    top: -10px;
    -webkit-transition: all .5s;
    transition: all .5s;
    right: 0;
    clear: both;
    background-repeat: no-repeat;
    opacity: .2;
    width: 250px;

}
*/

/* -----------------------------*/
/* --- Product Description div --*/
/* -----------------------------*/

#product #product-des {
    margin: 2rem 0;

}

#product #product-des .product-detail ul li {
    display: inline-block;
}

#product #product-des .product-detail .soldby-info {
    background-color: #fafafa;


}

#product #product-des .product-detail .soldby-top .col-sm-6 p,
#product #product-des .product-detail .soldby-bottom .col-sm-4 p {
    font-size: 12px;
    color: #757575;
    margin-bottom: .5rem;
}

#product #product-des .product-detail .soldby-top .chat-btn {
    margin-top: .5rem;
    color: #00BFF2;
    text-align: center;
}

#product #product-des .product-detail .soldby-bottom .response-rate ul li {
    background: black;

}

#product #product-des .product-detail .soldby-bottom .response-rate ul li:nth-child(1) {
    padding: .4rem .3rem;
}

#product #product-des .product-detail .soldby-bottom .response-rate ul li:nth-child(2) {
    padding: .6rem .3rem;
}

#product #product-des .product-detail .soldby-bottom .response-rate ul li:nth-child(3) {
    padding: .8rem .3rem;
}

#product #product-des .product-detail .soldby-bottom .response-rate ul li:nth-child(4) {
    padding: 1rem .3rem;
}



#product #product-des .product-detail #sellerSize {
    display: none;
    position: absolute;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #FFFFFF;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 2px 14px #ccc;
    box-shadow: 1px 2px 14px #ccc;
    top: 190px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





#product #product-des .product-detail #sellerSize .seller-popup ul li {
    background: black;

}

#product #product-des .product-detail #sellerSize .seller-popup ul li:nth-child(1) {
    padding: .4rem .3rem;
}

#product #product-des .product-detail #sellerSize .seller-popup ul li:nth-child(2) {
    padding: .6rem .3rem;
}

#product #product-des .product-detail #sellerSize .seller-popup ul li:nth-child(3) {
    padding: .8rem .3rem;
}

#product #product-des .product-detail #sellerSize .seller-popup ul li:nth-child(4) {
    padding: 1rem .3rem;
}


#product #product-des .product-table {
    border: 1px solid #dee2e6;
    padding: .5rem;
    margin-top: 2rem;
    background-color: #fafafa;

}

#product #product-des .product-table .table .form-group .form-control {
    width: 100%;
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#product #product-des .product-detail input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px !important;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

}

#product #product-des .product-detail input:hover,
#product #product-des .product-detail input:focus {
    background: #888;
    color: white;
}

#product #product-des .product-detail .nice-number button {
    background: white;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}


#product #product-des .product-detail .size,
#product #product-des .product-detail .color {
    padding: 5px;
    border-radius: 5px;
    margin: 0 2px !important;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    display: block;
}

#product .details {
    font-family: 'Roboto', sans-serif;

}

#product .details p {
    word-spacing: .1em;
    text-align: justify;
    line-height: 2em;
}

#product .details ul {
    margin-left: 1rem;
}

#product .details ul li {
    list-style-type: square;
    color: #084177;
}


#product .details .shortDes-Div,
#product .details .features-Div,
#product .details .details-div {
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding: 0 .5rem;
    font-size: .95rem;

}

#bestProduct .container,
#bestManufacturer .container,
#bestCategories .container {
    /*   background-color: #e6f2fe; */
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-title {
    font-size: 1rem !important;
    font-weight: 500;
}



/* ==============================*/
/* Related Product */
/* ==============================*/


#relatedProduct {
    padding: 4rem 1rem;

}

#relatedProduct .item .card {
    margin: .5rem;
    padding: .5rem;
}

#relatedProduct .item .card:hover {
    background-color: #dee2e6 !important;
    -webkit-transition: 1s all;
    transition: 1s all;


}


#relatedProduct .item .card .card-body {
    text-align: center;
    padding: 0;
}

#relatedProduct .item .card .card-body .product-title {
    font-size: .7rem;
    line-height: 15px !important;
    height: 25px;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

/*style for top search*/
#topSearch .col-sm-3 {
    background-color: #ffffff;
    border: 1px solid #a9a9a9;
    height: 360px;
    overflow: hidden;
}

#topSearch .col-sm-3 div {
    height: 180px;
}

#topSearch .col-sm-3 p {
    font-weight: bold;
}

#topSearch .col-sm-3 img {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

#topSearch .col-sm-3 img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}



/* =============================
        Customer Review section CSS  goes here
        =============================== */

#customerReview .star ul li {
    display: inline-block;
}



#customerReview .graph {
    width: 60%;
    background: red;
    color: green;
    padding: .5rem
}


#customerReview .progressbar li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    font-weight: 500;

}

#customerReview .progressbar li:before {
    content: "";
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

#customerReview .progressbar li:after {
    content: "";
    position: absolute;
    top: calc(100% + 0px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#customerReview .progressbar li.five:after {
    -webkit-animation-name: five;
    animation-name: five;
}

@-webkit-keyframes five {
    to {
        width: 85%;
    }
}

@keyframes five {
    to {
        width: 85%;
    }
}

#customerReview .progressbar li.four:after {
    -webkit-animation-name: four;
    animation-name: four;
}

@-webkit-keyframes four {
    to {
        width: 10%;
    }
}

@keyframes four {
    to {
        width: 10%;
    }
}

#customerReview .progressbar li.three:after {
    -webkit-animation-name: three;
    animation-name: three;
}

@-webkit-keyframes three {
    to {
        width: 2%;
    }
}

@keyframes three {
    to {
        width: 2%;
    }
}

#customerReview .progressbar li.two:after {
    -webkit-animation-name: two;
    animation-name: two;
}

@-webkit-keyframes two {
    to {
        width: 1%;
    }
}

@keyframes two {
    to {
        width: 1%;
    }
}

#customerReview .progressbar li.one:after {
    -webkit-animation-name: one;
    animation-name: one;
}

@-webkit-keyframes one {
    to {
        width: 2%;
    }
}

@keyframes one {
    to {
        width: 2%;
    }
}


#customerReview .card-body {
    padding: .5rem;
    text-align: justify;
}


#customerReview .col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

#customerReview .review-img img {
    margin: .5rem;
}


#customerReview .client-info {
    margin: 2rem 0;
}

#customerReview .client-info ul li {
    display: inline-block;
}


#customerReview .client-info ul li .helpful {
    padding: .5rem 1rem;
    border: 1px solid gray;
    color: black;

}


/* =============================
    Seller Page  CSS  goes here
=============================== */



#wholeseler {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 29, .7)), to(rgba(29, 29, 29, .7))), url(img/Wholesaler_bg.jpg);
    background: linear-gradient(rgba(29, 29, 29, .7), rgba(29, 29, 29, .7)), url(img/Wholesaler_bg.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 29, 0.7)), to(rgba(29, 29, 29, 0.7))), url("img/Wholesaler_bg.jpg");
    background-image: linear-gradient(rgba(29, 29, 29, 0.7), rgba(29, 29, 29, 0.7)), url("img/Wholesaler_bg.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    padding: 3rem 0;
    color: white;

}

.seller-btn {
    margin: 3rem 0;
}

.seller-btn a {
    border-radius: 30px;
    background: #3B5998;
    border: 1px solid white;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    -webkit-transition: 1s all;
    transition: 1s all;
}

.seller-btn a:hover {
    background: white;
    color: #3B5998;
    -webkit-transition: 1s all;
    transition: 1s all;

}



/* =============================
    Why Join Us  CSS  goes here
=============================== */


#whyJoin {
    padding: 3rem 0;
}



#whyJoin .whyJoin-col {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    padding: 1rem;
    border: 1px solid #3B5998;
    border-radius: 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
    margin-top: .5rem;
}

#whyJoin .whyJoin-heading {
    font-size: 1.2rem;
    font-weight: bold;

}

.whyJoin-body {
    padding-left: 2rem;
    padding-right: 2rem;
}

#whyJoin .whyJoin-col:hover {
    -webkit-transform: translate(0, -3px);
    transform: translate(0, -3px);
    -webkit-transition: 1s all;
    transition: 1s all;
    border: 1px solid transparent;


}


/* =============================
    How Work section CSS  goes here
=============================== */


#howWork {
    background: #f6f6f6 !important;
    padding: 3rem 0;
}

#howWork .circle {
    background: white;
    border-radius: 50%;
    border: 2px solid #3B5998;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    font-size: 1.7rem;
    z-index: 1;
    margin-left: 50%;

}

#howWork .col-sm-2 {}

#howWork .col-sm-2::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #3B5998;
    position: absolute;
    top: 0;
    left: 50%;

}

#howWork .row:nth-child(3) .col-sm-2::before {
    width: 0;
}


/* =============================
    Contact Us section CSS  goes here
=============================== */

#contactUs {
    padding: 3rem 0;
    text-align: center;
}



/*
.sign-up-btn {
    background: #008ed3;
    color: white;
    padding: .3rem .7rem;
    font-weight: bold;

}
*/

.sign-up-btn:hover {
    color: aliceblue;
    text-decoration: none;
}

#registration {
    padding: 3rem 0;
    text-align: center;
}

#registration form {
    width: 50%;
    border: 1px solid lightgray;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    margin: 2rem auto;
    padding: 1rem;
    background: #f6f6f6;
    border-radius: 10px;
    -webkit-transition: 1s all;
    transition: 1s all;

}

#registration form:hover {
    -webkit-transition: 1s all;
    transition: 1s all;
    border: 1px solid transparent;

}

#registration .list-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: auto;

}

#registration .list-group a {
    border: none;
}

#registration .list-group-item.active {
    background: #f6f6f6;
    color: #3B5998;
    border: none;

}


#registration .forgot {
    position: absolute;
    right: 10px;
    top: 5px;

}


#registration .btn-primary,
.seller-reg-body .btn-primary {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #3A559F;
    background-image: linear-gradient(315deg, #3A559F 0%, #009ffd 74%);
}

.facebook-login a,
.gmail-login a {
    background: #3A559F;
    color: white;
    border-radius: 10px;
    padding: .5rem 1rem;


}



.facebook-login a:hover,
.gmail-login a:hover {
    text-decoration: none;
}




/* =============================
        Footer section CSS  goes here
        =============================== */

footer {
    background-color: #008ed3;
    padding-bottom: 1rem;
}

footer ul {
    margin-left: -40px;
}

footer ul li a {
    text-decoration: none;
    line-height: 28px;
    font-size: 13px;
    cursor: pointer;
    color: #ffffff;
}

footer ul li a:hover {
    color: #f1fef7;
}

footer h6 {
    color: #ffffff;
    line-height: 35px;
    border-bottom: 1px solid white;
}

/*style for another footer*/
#anotherFooter {
    background-color: #c4ccd685;
}

#anotherFooter .col-md-4 a {
    color: #3B5998 !important;
    font-size: 1.2rem;
    background: transparent !important;
    padding: 0 !important;
    font-weight: 600;
}

#anotherFooter .container {

    border: 1px solid #a9a9a9;
}

#anotherFooter .col-md-4:first-child p {
    background-color: #55ACEE;
    padding: 10px;
    width: 200px;
}

#anotherFooter .col-md-4:first-child p .text-center {
    color: #ffffff !important;
    cursor: pointer;
}

#anotherFooter p {
    font-size: 0.8rem;
    font-weight: 600;
}

.copyright .container {
    border: none !important;
}

.copyright p {
    font-size: 13px !important;
    color: #333333;
}

.copyright p a {
    font-size: 14px;
    font-weight: bold;
    color: #007bff;
}


/*style for to-top*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 999;
}

footer .btn-primary {
    width: 50px;
    height: 50px;
    border-radius: 0 !important;
}









/* ==============================*/
/* Become a Seller Registration Page */
/* ==============================*/


.seller-reg h2 {
    color: #3B5998;
    text-transform: uppercase;
}


.required-star {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: .3rem;

}


.seller-reg [type=checkbox] {
    width: 2.5rem;

    height: 2.5rem;
}


.seller-reg .btn-primary {
    widows: 50%;
}


/* ==============================*/
/* Become a Seller Page */
/* ==============================*/

.wraper .s-s-1 textarea:focus,
.wraper .s-s-1 textarea.form-control:focus,
.wraper .s-s-1 input.form-control:focus,
.wraper .s-s-1 input[type=text]:focus,
.wraper .s-s-1 input[type=password]:focus,
.wraper .s-s-1 input[type=email]:focus,
.wraper .s-s-1 input[type=number]:focus,
.wraper .s-s-1 [type=text].form-control:focus,
.wraper .s-s-1 [type=password].form-control:focus,
.wraper .s-s-1 [type=email].form-control:focus,
.wraper .s-s-1 [type=tel].form-control:focus,
.wraper .s-s-1 [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
}

.wraper .s-s-1 input.form-control {
    border: 1px solid #009ffd;
    border-radius: 0px;
    /* height: 4rem; */
    outline: none;
    /* border: none; */
}

.wraper .s-s-1 select.form-control {
    border: 1px solid #009ffd;
    border-radius: 0px;
}

.wraper .s-s-1 span.input-group-text.bg-info.text-light {
    width: 14rem;
    border: 1px;
    background-image: linear-gradient(315deg, #4873e6 0%, #009ffd 74%);
     !important;
}

.seller-reg-body {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .07);
    margin: 2rem;
    padding: 20px;
}



.wraper .s-s-1 textarea.form-control {
    border: 1px solid #009ffd;
}

.wraper .s-s-1 button.btn.btn-block.btn-success {
    border-radius: 0px;
}

.wraper .s-s-1 .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.wraper .s-s-1 .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.wraper .s-s-1 .step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.wraper .s-s-1 .step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.wraper .s-s-1 .step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.wraper .s-s-1 .step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.wraper .s-s-1 .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.wraper .s-s-1 .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}




/* ==============================*/
/* Store Setup Page */
/* ==============================*/


.store {
    padding: 3rem 0;
    background: #f6f6f6;

}


.store-top-tittle {
    text-align: center;
}

.store-top-tittle img {
    border: 7px solid #e7e9ed;
    border-radius: 50%;
}



.store-top-tittle h3 {
    color: #acb3c2;
    margin-bottom: 0;
    padding-top: 1rem;
}




.store .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.store .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.store .step .step-item:not(:first-child)::before {
    background: #e7e9ed;
    content: "";
    height: 2px;
    left: -60%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.store .step .step-item a {
    color: #6c757d;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
    margin-left: -30px;
}

.store .step .step-item a::before {
    background: #e7e9ed;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 40%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.store .step .step-item.active a::before {
    background: #e7e9ed;

}

.store .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.store .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}



.store .store-body {
    width: 80%;
    background: white;
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;

}

.store .store-body button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
}

.store .store-body button a {
    text-decoration: none;
    font-weight: bold;
}

.store .store-body .letsgo {
    color: white;
    background: #009ffd;
}

.store .store-body .notrightnow {
    background: #e7e9ed;
}


/* Store setup body css --*/

.store-setup-body {
    width: 80%;
    background: white;
    padding: 2rem;

    margin: 2rem auto;
}




.store-setup .step .step-item.active a::before {
    background: #0069d9;
}



.store-setup-body #pic {
    display: none;
}

.store-setup-body .storelogo {
    cursor: pointer;
}

.store-setup-body #storelogoImg {
    max-width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2rem;
}



/* -- Banner image CSS --*/

.store-setup-body #pic2 {
    display: none;
}

.store-setup-body .banner {
    cursor: pointer;
}

.store-setup-body #bannerImg {
    max-width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2rem;
}

.store-setup-body .col-form-label {
    font-weight: bold;
}





/* ----------Payment page ------------------*/

.payment_page .payment input.form-control {
    border-bottom: 2px solid #6c757d !important;
}

.payment_page .payment label.col-md-3.col-12.font-weight-bold.text-info {
    color: #6c757d !Important;
    /* vertical-align: -webkit-baseline-middle; */
}

.payment_page .payment textarea.form-control {
    border-bottom: 2px solid #6c757d !important;
}

.payment_page textarea.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.payment_page input.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.payment_page .payment textarea.form-control:focus {
    border-bottom: 2px solid #009ffd !important;

}

.payment_page .payment input.form-control:focus {
    border-bottom: 2px solid #009ffd !important;

}

.payment_page .card {
    border: none;
}

.payment_page .progress {
    background: #dadada;
    border: 1px solid #dc3545;
    height: 2rem;
    width: 6rem;
}

.payment_page .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.payment_page .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.payment_page .step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.payment_page .step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.payment_page .step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.payment_page .step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.payment_page .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.payment_page .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}






/* ----------Polices page ------------------*/



.regs-3 .s-3-t img.img-fluid.p-p {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    height: 10rem;
    width: 10rem;
    border: 5px solid #ffffff;
}

.regs-3 .p-h.text-light {
    background: rgba(0, 0, 0, 0.90);
    display: none;
    position: absolute;
    width: 9.5rem;
    height: 9.5rem;
    top: 49px;
    left: 64px;
    border-radius: 50%;
}

.regs-3 .img-a:hover .p-h {
    display: block;
}

.regs-3 img.img-fluid.rounded-circle.p-p.ml-5.my-auto {
    position: relative;
}

.regs-3 img.p-p:hover .p-h.text-light {
    display: none;
}

.regs-3 label.p-h-t.text-center {
    position: absolute;
    top: 4rem;
    left: 2rem;
}

.regs-3 .col-lg-12.p-c.pb-5 {
    border-top: 3px solid #009ffd;
}

.progressjs-theme-blue .progressjs-inner {
    height: 20px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.regs-3 .custab {
    border: 1px solid #ccc;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 2px #ccc;
    box-shadow: 3px 3px 2px #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.regs-3 .custab:hover {
    -webkit-box-shadow: 3px 3px 0px transparent;
    box-shadow: 3px 3px 0px transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.regs-3 .col-lg-12.p-c {
    background-image: url("../img/bata-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.regs-3 .col-lg-12.p-c h1 {
    text-shadow: 0px 0px 5px #FFFFFF;
    font-size: 3rem;
}

.regs-3 .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
    height: 10rem;
}

.regs-3 .progress {
    background: #dadada;
    border: 1px solid #dc3545;
    height: 2rem;
    width: 6rem;
}

.regs-3 .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.regs-3 .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.regs-3 .step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.regs-3 .step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.regs-3 .step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.regs-3 .step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.regs-3 .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.regs-3 .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}





/* ----------SEO page ------------------*/

.seo_page {
    background: #f6f6f6;
    padding: 3rem 0;
}

.seo_page .seo-setup-body {
    width: 80%;
    background: white;
    padding: 2rem;

    margin: 2rem auto;
}



.seo-setup-body #fbpic {
    display: none;
}

.seo-setup-body .fbimg {
    cursor: pointer;
}

.seo-setup-body #fb_img {
    max-width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2rem;
}



.seo-setup-body #twitterpic {
    display: none;
}

.seo-setup-body .twitterimg {
    cursor: pointer;
}

.seo-setup-body #twitter_img {
    max-width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2rem;
}

.seo_page .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.seo_page .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.seo_page .step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.seo_page .step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.seo_page .step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.seo_page .step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.seo_page .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.seo_page .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}


.seo_page .ready-body {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 2rem;
    background: #e7e9ed;
}


.seo_page .ready-body .ready-des {
    text-align: left;
    border: 1px solid lightgray;
    padding: 1rem;
    border-left: 2px solid lightgray;
}


/* ----------Customer Support page ------------------*/

.customer_page {
    background: #f6f6f6;
    padding: 3rem 0;
}

.customer_page .customer-setup-body {
    width: 80%;
    background: white;
    padding: 2rem;

    margin: 2rem auto;
}




.customer_page .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.customer_page .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.customer_page .step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.customer_page .step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.customer_page .step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.customer_page .step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.customer_page .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.customer_page .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}







/* ----------Ready page ------------------*/




.ready_page .step {
    list-style: none;
    margin: .2rem 0;
    width: 100%;
}

.ready_page .step .step-item {
    -ms-flex: 1 1 0;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center;
}

.ready_page .step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%;
}

.ready_page .step .step-item a {
    color: #acb3c2;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none;
}

.ready_page .step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1;
}

.ready_page .step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9;
}

.ready_page .step .step-item.active ~ .step-item::before {
    background: #e7e9ed;
}

.ready_page .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed;
}


.ready_page .ready-body {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 2rem;
    background: #e7e9ed;
}


.ready_page .ready-body .ready-des {
    text-align: left;
    border: 1px solid lightgray;
    padding: 1rem;
    border-left: 2px solid lightgray;
}

.ready-body .go-dashboard a {
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background: #009ffd;
    border-radius: 5px;

}









/* ====================================
           Sample Order Page 
======================================= */
.sample-header {
    border: 1px solid #dae2ed;

    margin-top: 1rem;
}


.titile-div {
    position: relative;

}

.titile-div h5 {
    padding: 1rem;
}

.table .form-group .form-control {
    width: auto;
}

.sample-header .card-body {
    border: 1px solid #dae2ed;
}

.titile-div {
    padding: .5rem 0;

}

.table td,
.table th,
.table thead th {
    border: none;
}

.tooltip-show {
    position: absolute;
    right: 0;
    top: 15px;
    width: 40%;
    background: white;
    color: black;
    padding: 1rem;
    z-index: 1;
    display: none;
    border: 1px solid #dae2ed;

}


.tooltip-show:after {
    position: absolute;
    width: 10px;
    height: 10px;
    content: ' ';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #dae2ed;
    background-color: #fff;
    top: 10px;
    left: -5px;
    border-top: none;
    border-right: none;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'Attachment';
}

.custom-file {
    width: 150px;
}





/* ============ User Dashboard Page ======= */





.user-account-content {
    padding: 1rem 0;
}

.user-account-content .user__content .nav {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 1);
    box-shadow: 0px 0px 10px 0px rgba(26, 26, 26, 1);
}

.user-account-content .user__content .username-content {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user-account-content .user__content .username-content p:last-child span {
    display: block;
}

.user-account-content .user__content .username-content p span {
    font-size: .9rem;
}

.user-account-content .user__content .username-content p span:last-child {
    text-transform: capitalize;
    font-weight: bold;
}

.user-account-content .user__content .username-content img {
    border-radius: 50%;
    height: 4rem;
    margin-right: 1rem;
}

.user-account-content .user__content .nav .nav-link {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    color: black;


}

.user-account-content .user__content .nav .nav-link {
    padding: 0.5rem 1rem !important;
}

.user-account-content .user__content .nav .nav-link.active {
    background-color: #009ffd);
    color: white;
}

.user-account-content .user__content .nav-pills-text p {

    padding-bottom: 1rem;
}

.user-account-content .user__content .nav-pills-text a {
    text-decoration: none;
    transition: all .3s;
}

.user-account-content .user__content .nav-pills-text a:hover {
    color: #009ffd;
}

.user-account-content .user__content .nav-pills-text h6 {
    padding-bottom: 1rem;
}

.user-account-content .user__content table th {
    text-transform: capitalize;
    font-size: .9rem;
    text-align: center;
}

.user-account-content .user__content table td {
    font-size: .8rem;
}

.user-account-content .user__content table td .btn-order {
    display: block;
    margin: 0;
    background-color: #009ffd;
    font-size: .7rem;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    font-weight: 500;
    margin: .3rem 0;
}

.user-account-content .user__content .addresses-content {
    display: flex;
    justify-content: space-around;
}

.user-account-content .user__content .addresses-content .edit-btn {
    color: #009ffd;
    cursor: pointer;
    font-size: .9rem;
}

.user-account-content .user__content .edited__address {
    display: none;
    margin-top: 2rem;
}

.user-account-content .user__content .addresses-content h5 {
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding-bottom: .5rem;
    font-weight: 500;

}

.user-account-content .user__content .addresses-content .addresses-name {
    padding-top: 1rem;
}

.user-account-content .user__content .addresses-content p {
    font-size: 1rem;
    text-transform: capitalize;

}

.user-account-content .user__content .addresses-content a {
    text-decoration: none;
    font-size: .7rem;
    text-transform: capitalize;
}

.user-account-content .user__content form label {
    font-size: .9rem;
    text-transform: capitalize;
}

.user-account-content .user__content form .form-control {
    height: 30px;
    font-size: .8rem;
}

.user-account-content .user__content form .form-control:focus,
.user-account-content .user__content form .btn-changes:focus {
    outline: none;
    box-shadow: 0 0 0 white;
    border: 1px solid #009ffd;
}


.user-account-content .user__content form .btn-changes,
.user-account-content .user__content form .btn-save-address {
    background-color: #009ffd;
    text-transform: uppercase;
    font-size: .9rem;
    color: rgb(231, 231, 231);
    border-radius: 0;
}


.user-account-content .user__content .col-9 .tab-content {
    background: rgb(231, 231, 231);
    padding: 1rem;
}

.user-account-content .user__content .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background: transparent;
    color: #009ffd;
}


.user-account-content .tab-content {
    margin-top: 2rem;
}




/* ============ Store Profile Page ======= */

#storeProfile-top {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    position: relative;
    width: 100%;
    padding: 2rem 1rem .2rem 2rem;

}

#storeProfile-wrap {
    position: relative;
    bottom: 0;
    padding: 1rem;
    width: 50%;
    background: white;
    color: black;



}

.small-text {
    font-size: .8rem;
}


#storeProfile .chat {
    color: #3B5998;
}

#storeProfile .follow {
    color: #008ed3;
}

#store-product #phils-area {
    padding: 1rem;
}

#store-product #phils-area .nav-item .active {
    background: transparent;
    color: #008ed3;
    padding-bottom: 1rem;
    border-radius: 0%;
}


/*
#store-product #phils-area {
    z-index: 9999;
    background: red !important;

}
*/


#store-product #phils-area {
    background: #F8F9FB;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#store-product #phils-area .nav-pills .active {
    border-bottom: 2px solid orange;

    font-weight: bold;
}

#store-product #phils-area .nav-pills .active a {
    color: orange !important;
}

#store-product #phils-area .nav-pills .nav-item a {
    color: gray;
}

#store-product .tab-content .store-product-div {
    background: #F2F3F7;
    padding: .4rem;
}

#store-profile-top {
    padding: 1rem;
    background: #F8F9FB;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


#store-profile-middle {
    padding: 1rem;
    background: #F8F9FB;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#store-profile-middle .progress {
    margin-bottom: 0;
    width: auto;
    margin-top: .2rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

#store-profile-middle .progress-bar {
    background: #008ED3;
}


#store-profile-middle .table-container .tbody tr {
    background-color:
}

#store-profile-middle .panel-default .fa-smile-beam {
    color: lightgreen;
}

#store-profile-middle .panel-default .fa-meh {
    color: lightgray;
}

#store-profile-middle .panel-default .fa-frown {
    color: red;
}


#store-profile-middle .pagination .page-item.active .page-link,
.store-profile-bottom .pagination .page-item.active .page-link {
    background: lightgray;
    color: white;
    font-weight: bold;
    border: 1px solid lightgray;

}


#store-profile-middle .pagination .page-link,
.store-profile-bottom .pagination .page-link {
    color: gray;
}

#store-profile-bottom {
    padding: 1rem;
    background: #F8F9FB;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


#product-demo .col-md-4 img {
    width: 200px;
    height: 250px;
    transition: 1s all;
    border-radius: 10px;
}


#product-demo .col-md-4 .overlay {
    overflow: hidden;
    padding: 1rem;
    background: #F8F9FB;
    transition: 1s all;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(38, 38, 38, 0.23);
    -moz-box-shadow: 0px 0px 7px 2px rgba(38, 38, 38, 0.23);
    box-shadow: 0px 0px 7px 2px rgba(38, 38, 38, 0.23);

}

#product-demo .col-md-4 .overlay:hover img {
    transform: scale(1.1);
    transition: 1s all;
}

.sidebar {
    background: #F8F9FB;
    padding: 1rem;
    border: 1px solid lightgray
}
