/* ====================================
           Seller Dashbaord CSS 
======================================= */



.navbar-brand > img {
    padding: .5rem;
}


.cover .cover-img {
    background-image: url("../img/cover-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    height: 250px;
    padding: 2rem;
    border-top: 2px solid #009ffd;
    border-bottom: 2px solid #009ffd;

}

.cover img.img-fluid.p-p {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.75);
    height: 10rem;
    width: 10rem;
    border: 5px solid #ffffff;
}

.cover .p-h.text-light {
    background: rgba(0, 0, 0, 0.90);
    display: none;
    position: absolute;
    width: 9.5rem;
    height: 9.5rem;
    top: 49px;
    left: 64px;
    border-radius: 50%;
}

.cover .profile-img:hover .p-h {
    display: block;
}

.cover img.img-fluid.rounded-circle.p-p.ml-5.my-auto {
    position: relative;
    top: 46px;
    left: 54px;
    border-radius: 50%;
}

.cover img.p-p:hover .p-h.text-light {
    display: none;
}

.cover label.p-h-t.text-center {
    position: absolute;
    top: 4rem;
    left: 2rem;
}


.cover .cover-img .row {
    margin: 0 !important;
}


.cover .cover-img .cover-img-up {
    background: white;
    color: black;
}




.cover .cover-img {
    background-image: url("../img/cover-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cover .store-tittle {
    margin-top: 4rem;
    border: 2px solid #009ffd;
    padding: 2rem;
    text-align: center;
    color: white;
}


.modal-dialog {
    width: 60%;
    position: absolute;
    right: 0;
    height: 100%;
    padding-top: 2rem;
}


.modal-body {
    overflow: scroll;
    height: 90vh;
}


.modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 999;
}


/*========================*/
/* === Report Page ====*/
/*========================*/


.reports-page .panel-body {
    padding: 5px;
}


.reports-page .panel {
    border: none;
    margin: none;
}


.amount-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.amount-border {
    border: 1px solid lightgray;
    border-right: 3px solid blue;
    padding: .2rem .5rem;

}

@media (max-width: 576px) {
    .amount-div {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
